@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

:root {
  --dark-blue: #283149;
  --light-blue: #404b69;
  --dark-pink: #f73859;
  --light-pink: #fc4c69;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.8;
}

/* Globales */

h1,
h2,
h3 {
  margin: 0 0 3rem 0;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.8rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

section {
  margin-top: 4rem;
}

.container {
  max-width: 120rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.max-width-25 {
  max-width: 25rem;
}

.btn {
  display: block;
  padding: 1.6rem 2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border: none;
  cursor: pointer;
}

.btn-secondary {
  color: #fff;
  background-color: var(--light-pink);
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: var(--dark-pink);
}

/* ------ Header and Nav -------*/

.title {
  text-align: center;
  padding: 3rem 0;
  margin: 0;
  font-weight: 900;
  border-bottom: 1px solid var(--light-blue);
  color: var(--dark-blue);
}

.title span {
  color: var(--dark-pink);
  font-weight: 700;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}

.nav-main a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.hero {
  background-image: url(../img/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 55vh;
}

/* Category Section */

.category h2 {
  padding-bottom: 4rem;
  margin: 0;
}

.category-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-bottom: 5rem;
}

.category-item img {
  width: 100%;
  display: block;
  background-color: var(--dark-blue);
  border-top-left-radius: 1.5rem;
}

.category-item a {
  display: block;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 2rem;
  transition: 0.2s ease-in;
}

.category-item:hover a {
  background-color: var(--dark-pink);
  color: white;
  border-bottom-right-radius: 1.5rem;
}

/* About Section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background-color: var(--dark-blue);
}

.about-img {
  flex-basis: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-content {
  flex-basis: 50%;
  color: white;
  text-align: center;
  padding: 1rem;
}

.about-text {
  width: 80%;
  margin: 0 auto;
}

.about-content p {
  font-size: 1.8rem;
}

/* Products Section */
.products-section {
  margin-top: 4rem;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.product-item:nth-child(1) {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.product-item:nth-child(1) .product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-item:nth-child(2) {
  grid-column: 1 / 4;
}

.product-item:nth-child(3) {
  grid-column: 4 / 7;
}

.product-item:nth-child(4) {
  grid-column: 1 / 3;
}

.product-item:nth-child(5) {
  grid-column: 3 / 5;
}

.product-item:nth-child(6) {
  grid-column: 5 / 7;
}

/* products config images */
.product-item:nth-child(1) img {
  width: 100%;
  height: 43rem;
  object-fit: cover;
}
.product-item:nth-child(2) img,
.product-item:nth-child(3) img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}

.product-item {
  background-color: var(--dark-blue);
  border-radius: 1.5rem;
  overflow: hidden;
}

.product-info {
  text-align: center;
  color: #fff;
  padding: 2rem 1.5rem;
}

.product-info h3 {
  margin: 0 0 1.5rem 0;
}

.product-info p {
  margin: 0 0 2rem 0;
}

.product-info .price {
  font-size: 2.5rem;
  font-weight: 900;
}

/* Footer */
.site-footer {
  border-top: 1px solid var(--light-blue);
  margin-top: 5rem;
  padding-top: 5rem;
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
}

.site-footer nav {
  display: flex;
  flex-direction: column;
}

.site-footer nav a {
  margin: 0.5rem 0;
  color: var(--dark-blue);
}

.copyright {
  margin: 6rem 0 2rem;
  font-weight: 700;
}

/* Page About */
.grid-about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  column-gap: 4rem;
}

.about-image {
  border-radius: 1.6rem;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Page Blog */
.blog-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 4rem;
}

.blog-entry {
  border-bottom: 1px solid var(--dark-blue);
  padding-bottom: 4rem;
  margin-bottom: 4rem;
}

.blog-image img {
  border-radius: 1.6rem;
}

.blog-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 1.8rem;
}

.blog-info span {
  color: var(--dark-pink);
  font-weight: 900;
}

.blog-entry:last-of-type {
  border: none;
}

.blog-content {
  width: 70rem;
  margin: 0 auto;
}

/* Gallery Page */

.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.gallery img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form fieldset {
  border: 2px solid var(--light-blue);
  margin-bottom: 2rem;
  padding: 0 3rem;
}

.form legend {
  background-color: var(--dark-blue);
  color: white;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 2.5rem;
}

.form-group {
  display: flex;
  margin-bottom: 2rem;
}

.form-group label {
  flex-basis: 10rem;
}

.form-group input:not([type='radio']),
textarea {
  flex: 1;
  border: 1px solid var(--dark-blue);
  padding: 1.2rem;
}

.form .send {
  margin-top: 3rem;
  margin-left: auto;
}
